name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: npm

      - run: npm ci
      - run: npm test
        env:
          NODE_V8_COVERAGE: coverage
      - uses: codecov/codecov-action@v5.5.1
      - uses: codecov/test-results-action@v1.2.1
        if: ${{ !cancelled() }}
